{% extends "blog/base.html" %}

{% block title %}
{{post.title}}
{% endblock title %}

{% block main %}
    <h1 class="text-3xl">{{post.title}}</h1>
    
    <span class="text-sm text-gray-500">{{post.created_date|date:'d.m.Y'}}</span>

    <div class="text-lg mt-6">
        {{post.content}}
    </div>

    <div class="mt-8">
        <form action="{% url 'detail' slug=post.slug %}" method='post'>
            {% csrf_token %}

            {{ form.as_p }}

            <button class='py-4 px-8 bg-emerald-700 text-white rounded-md hover:bg-emerald-800 mt-4 '>Submit</button>
        </form>
    </div>
    <br><hr><br>
    {% if post.comments.all %}
        <h2 class="text-2xl">Comments</h2>
        {% for comment in post.comments.all %}
        <div class="py-4 px-6 bg-gray-100">
            <h3 class="font-bold">{{comment.name}} @ {{comment.created_date|timesince}} ago</h3>

            <p>{{comment.content}}</p>
        </div>
    {% endfor %}
    {% else %}
        <p class="text-gray-500">No comments yet.</p>
    {% endif %}
    
{% endblock main %}